/* color scheme */
:root {
    --main-menu: #89D2DC;
    --main-menu-color: #101D42;
    --main-body-color: #101D42 ;
    --menu-link-hover: #888EA1;
    --index-background: #F0F9FB;
    --footer-menu-background: #B5E3E9;
  }

h1, h2, h3, h4, h5, h6, body {
    font-size: 100%;
    font-family: 'Francois One', sans-serif;
    color: var(--main-body-color);
}

  body {
      background-color: var(--index-background);
  }

/* Header with navigation links */
.headermain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: var(--main-menu);
        color: var(--main-menu-color);
        font-size: larger;
}

/* Header size */
.headertext {
    color: var(--main-menu-color);
    font-size: larger;

}
/* Header actions on hover */
.headertext:hover {
    color: var(--menu-link-hover);
}

/* Navigation links in header */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

/* Navigation text */
nav a {
    color: var(--main-menu-color);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

/* Navigation color on hover */
nav a:hover {
    color: var(--menu-link-hover);
    border-top: var(--menu-link-hover);
    font-weight: bold;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--main-menu-color);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.btn-primary:hover {
    color: var(--menu-link-hover);
    border-top: var(--menu-link-hover);
    font-weight: bold;
    text-decoration: none;
}




/* footer */
footer {
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background: var(--footer-menu-background);
    z-index: 12;
    font-size: small;
    color: var(--main-menu-color);
    padding: 15px;
}


.copyright {
    float: right;
    display: flex; 
    align-items: center;
} 
